{% extends "stack_base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load i18n %}


{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<section>
  <div class="row justify-content-md-center">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="basic-layout-card-center">{% trans "Change Password" %}</h4>
                                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">

                                    </div>
                                </div>
                                <div class="card-content collapse show">
                                    <div class="card-body">

                                        <form class="form password_change" method="POST" action="{% url 'account_change_password' %}">
                                            <div class="form-body">
                                              {% csrf_token %}
         {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block">{{ error }}</span>
        {% endfor %}
      </div>
    {% endfor %}


                                            </div>

                                            <div class="form-actions center">

                                              <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</section>
{% endblock %}
