{% extends "account/form_base.html" %}
{% load static i18n helpers_tags %}

{% block head_title %} {% trans "Password Reset" %}{% endblock head_title %}
 {% block content %}
      {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>Mot de passe oublié ? Indiquez ci-dessous votre adresse e-mail et nous vous enverrons un e-mail pour le réinitialiser.</p>


                                         <form class="form-horizontal password_reset" action="{% url 'account_reset_password' %}" method="post">
                                            <fieldset class="form-group position-relative has-icon-left">
                                                 {% csrf_token %}
                                                <input type="email" class="form-control form-control-lg" id="id_email" name="email" placeholder="Votre adresse e-mail" required>
                                                <div class="form-control-position">
                                                    <i class="feather icon-mail"></i>
                                                </div>
                                            </fieldset>
                                            <button type="submit" class="btn btn-outline-primary btn-lg btn-block"><i class="feather icon-unlock"></i>Réinitialiser mon mot de passe</button>
                                        </form>
{% endblock %}
 {% block footer %}

{% endblock %}
