[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
djangorestframework = "*"
django-filter = "*"
django-tables2 = "*"
django-allauth = "*"
django-money = "*"
django-oauth-toolkit = "*"
django-guardian = "*"
celery = "*"
psycopg2-binary = "*"
django-allauth-2fa = "*"
redis = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-storages = "*"
django-import-export = "*"
django-colorfield = "*"
django-reversion = "*"
django-crispy-forms = "*"
django-mptt = "*"
django-celery-results = "*"
django-bootstrap4 = "*"
drf-yasg = "*"
django-countries = "*"
django-axes = "*"
werkzeug = "*"
uwsgi = "*"
gunicorn = "*"
django-redis = "*"
ipython = "*"
json-log-formatter = "*"
django-bootstrap-modal-forms = "*"
django-environ = "*"
django-widget-tweaks = "*"
easy-thumbnails = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
jupyter = "*"
jupyterlab = "*"
django = "*"
django-jsignature = "*"
python-magic = "*"
django-otp = "*"

[requires]
python_version = "3.9"
