<!DOCTYPE html>
{% load static i18n helpers_tags %}

<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/pdf; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="SIGCDD.">
    <meta name="keywords" content="SIGCDD, web app">
    <meta name="author" content="SUDPAY">
    <title>{% block title %}{{ "APP_NAME" |application_local_tag }}{% endblock title %}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'stack/app-assets/images/ico/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->

   <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/vendors/css/forms/selects/select2.min.css' %}">

   {% block vendorcss %}

   {% endblock vendorcss %}

    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/css/bootstrap-extended.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/css/colors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/css/components.min.css' %}">



    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/css/core/menu/menu-types/vertical-menu.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/css/core/colors/palette-gradient.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/fonts/simple-line-icons/style.min.css' %}">





    <!-- END: Page CSS-->
 {% block css %} {% endblock  %}
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'stack/assets/css/style.css' %}">
    <!-- END: Custom CSS-->


    <style>
            @page {

                size: {{ pagesize }};

                margin: 1cm;

                @frame footer {

                    -pdf-frame-content: footerContent;

                    bottom: 0cm;

                    margin-left: 9cm;

                    margin-right: 9cm;

                    height: 1cm;

                }

                .bg-light{
                    background-color: black !important;
                    background: black;

                 }

}

    </style>

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->


<body class="vertical-layout">

    <script type="text/javascript">
          window.onload = addPageNumbers;

          function addPageNumbers() {
            var totalPages = Math.ceil(document.body.scrollHeight / 1123);  //842px A4 pageheight for 72dpi, 1123px A4 pageheight for 96dpi, 
            for (var i = 1; i <= totalPages; i++) {
              var pageNumberDiv = document.createElement("div");
              var pageNumber = document.createTextNode("Page " + i + " of " + totalPages);
              pageNumberDiv.style.position = "absolute";
              pageNumberDiv.style.top = "calc((" + i + " * (297mm - 0.5px)) - 40px)"; //297mm A4 pageheight; 0,5px unknown needed necessary correction value; additional wanted 40px margin from bottom(own element height included)
              pageNumberDiv.style.height = "10px";
              pageNumberDiv.appendChild(pageNumber);
              document.body.insertBefore(pageNumberDiv, document.getElementById("content"));
              pageNumberDiv.style.left = "calc(100% - (" + pageNumberDiv.offsetWidth + "px + 20px))";
            }
          }
        </script>
    
    <!-- BEGIN: Content-->
    <div class="app-content content">
           <div class="content-body">

              {% block content %}

              {% endblock %}

            </div>
    </div>
    <!-- END: Content-->

    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

   

    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'stack/app-assets/vendors/js/vendors.min.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/forms/select/select2.min.js' %}"></script>




    <!-- BEGIN Vendor JS-->

 {% block vendorjs %}

   {% endblock vendorjs %}
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'stack/app-assets/js/core/app-menu.js' %}"></script>
    <script src="{% static 'stack/app-assets/js/core/app.js' %}"></script>
    <!-- END: Theme JS-->



    <!-- BEGIN: Page JS-->
    <!-- END: Page JS-->
<script src="{% static 'stack/app-assets/js/core/signotify.js' %}" type="text/javascript"></script>
{% sigregister_notify_callbacks callbacks='fill_notification_badge' refresh_period=300 badge_class=request.user.badge_class %}
    {% block javascript %} {% endblock javascript %}


    <div id="footerContent">

        {%block page_foot%}

            Page <pdf:pagenumber>

        {%endblock%}

    </div> 

</body>

<!-- END: Body-->

</html>
