# General
# ------------------------------------------------------------------------------
# DJANGO_READ_DOT_ENV_FILE=True
DJANGO_DEBUG=1

DJANGO_SETTINGS_MODULE=
DJANGO_SECRET_KEY=
DJANGO_ADMIN_URL=j
DJANGO_ALLOWED_HOSTS=
DJANNGO_INTERNAL_IPS=

# Security
# ------------------------------------------------------------------------------
# TIP: better off using DNS, however, redirect is OK too
DJANGO_SECURE_SSL_REDIRECT=False

#Static file and media file
#------------------------------------------------------------------------------

SIGCDD_STATIC_ROOT =
SIGCDD_MEDIA_ROOT =

# Email
# ------------------------------------------------------------------------------
DJANGO_SERVER_EMAIL=

MAILGUN_API_KEY=
MAILGUN_DOMAIN=


# django-allauth
# ------------------------------------------------------------------------------
DJANGO_ACCOUNT_ALLOW_REGISTRATION=False

# Gunicorn
# ------------------------------------------------------------------------------
WEB_CONCURRENCY=4

# Sentry
# ------------------------------------------------------------------------------
SENTRY_DSN=


# Redis
# ------------------------------------------------------------------------------
REDIS_URL=redis://127.0.0.1:6379/1
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=1

# Celery
# ------------------------------------------------------------------------------

# Flower
CELERY_FLOWER_USER=XljRFbPTITvUtvxnyFSuzyOIxBwKQLzk
CELERY_FLOWER_PASSWORD=PNHIaUxL4tr6nQwHZUKVdjy4QGMAwhQoetLdtzYzuYMxNE0ROKzvFPgxvok6wLL7

CELERY_BROKER=redis://127.0.0.1:6379/1
CELERY_BACKEND=redis://127.0.0.1:6379/1

#databbase

SQL_ENGINE=django.db.backends.postgresql

LOGFILE=


# Mail settings
#-----------------------------------------------------------------
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
DEFAULT_FROM_EMAIL=


TRESOR_ACCOUNT_SID=
TRESOR_TOKEN=
TRESOR_GATEWAY_URL=

