<!DOCTYPE html>

<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content=" admin ">
    <meta name="keywords" content="admin template,web app">
    <meta name="author" content="SUDPAY">

  <title>SIGCDD</title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/stack/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">



    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="/static/stack/app-assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stack/app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="/static/stack/app-assets/vendors/css/forms/icheck/custom.css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="/static/stack/app-assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stack/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stack/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stack/app-assets/css/components.min.css">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="/static/stack/app-assets/css/core/menu/menu-types/vertical-menu.min.css">
    <link rel="stylesheet" type="text/css" href="/static/stack/app-assets/css/core/colors/palette-gradient.min.css">

    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
     <link rel="stylesheet" type="text/css" href="/static/stack/assets/css/style.css">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu 1-column   blank-page blank-page" data-open="click" data-menu="vertical-menu" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <div class="p-1"><img src="/static/stack/app-assets/images/logo/app-logo.png" alt="branding logo"></div>
                                    </div>
                                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span> SIGCDD est en cours de maintenance </span></h6>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                     <div class="form-horizontal form-simple">
                                            <article>
                                                <div>
                                                    <p>Toutes nos excuses pour la gène occasionnée liée à des travaux de maintenance qui sont en cours. 
                                                     Si besoin, vous pouvez toujours contacter le support technique via <a href="mailto:sigcdd@tresor.gouv.sn">sigcdd@tresor.gouv.sn</a>.</p>
                                                    <p>&mdash; Direction de l'Informatique de la DGCPT.</p>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">  

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div> 
</body>
<!-- END: Body-->

</html>