{% load widget_tweaks %}
{% load static i18n %}
{{ form.media }}




<form method="post" action=""  enctype="multipart/form-data">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}<span class="danger">*</span>{% endif %}</label>


        {% if field|widget_type == "select" %}
<div class="input-group">
        {% render_field field   type="select" class="select2 form-control" %}

 </div>

                   {% elif field|widget_type == "selectmultiple" %}
<div class="input-group">
        {% render_field field   type="select" class="select2 form-control multiple" %}

 </div>

          {% elif field|widget_type == "moneywidget" %}

      <div class="input-group">
          <input  type="number" step="5" min="0" name="{{ field.html_name }}_0" id="id_{{ field.html_name }}_0" placeholder="{{ field.label}}" class="form-control">

								<div class="input-group-append">


                                    <select name="{{ field.html_name }}_1" id="id_{{ field.html_name }}_1" class="select2 form-control">

                  <option value="XOF">FCFA</option>

                </select>

								</div>
							</div>

        {% elif field|widget_type == "dateinput" %}

        <div class="input-group">
        {% render_field field   type="date" class="form-control singledate" placeholder=field.label %}
          <div class="input-group-append"><span class="input-group-text"><i
                                                          class="feather icon-calendar"></i></span>
        </div>
      </div>




        {% elif field|widget_type == "datetimeinput" %}
        <div class="input-group">
        {% render_field field   type="text" class="form-control datetimepicker" placeholder=field.label %}
          <div class="input-group-append"><span class="input-group-text"><i
                                                          class="feather icon-calendar"></i></span>
        </div>
      </div>


          {% elif field|widget_type == "daterangewidget" %}


           <div class="input-group">
        {% render_field field   type="date" class="form-control stackdaterangepicker" placeholder=field.label %}
          <div class="input-group-append"><span class="input-group-text"><i
                                                          class="feather icon-calendar"></i></span>
        </div>
      </div>


          {% elif field|widget_type == "linkeddatewidget" %}



           <div class="input-group">
        {% render_field field   type="date" class="form-control linkeddate" placeholder=field.label %}
          <div class="input-group-append"><span class="input-group-text"><i
                                                          class="feather icon-calendar"></i></span>
        </div>
      </div>



        {% elif field|widget_type == "regionalphonenumberwidget" %}

        {% render_field field   type="tel" class="form-control" placeholder=field.label %}


          <span id="valid-msg" class="hide">✓ Valid</span>
                  <span id="error-msg" class="hide"></span>

          {% elif field|widget_type == "moneywidget" %}

          {% render_field field class="form-control" placeholder=field.label %}

           {% elif field|widget_type == "stackmoneywidget" %}



       <div class="input-group">
         {% render_field field class="form-control amount-inputmask" placeholder=field.label %}

        <div class="input-group-append">


            <select name="{{ field.html_name }}_1" id="id_{{ field.html_name }}_1" class="select2 form-control">

                <option value="XOF">FCFA</option>

            </select>

        </div>
    </div>



        {% else %}
        {% render_field field class="form-control" placeholder=field.label %}
        {% endif %}





        <div class="{% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Mise à jour</button>
  </div>

</form>
{% block javascript %}
<script type="text/javascript">
      $(function () {
      $('.singledate').pickadate(
           {formatSubmit: 'mm/dd/yyyy',format: 'dd/mm/yyyy'}
      );
           $('.datetimepicker').datetimepicker({format: 'MM/DD/YYYY HH:mm:ss'});
           $(".select2").select2({
            dropdownAutoWidth: true,
                width: '100%'
            });

            $('.stackdaterangepicker').daterangepicker({

		locale: {
			format: 'DD/MM/YYYY'
		}
	});


	$('.linkeddate').each(function(){
	console.log(this.id);
	let elt_id = this.id;
	let s = elt_id.slice(-1);
	if (s=="0"){

	let lower = '#'+elt_id.slice(0, -1) + '0';
	 let upper = '#'+elt_id.slice(0, -1) + '1';
	// Date Range from & to
	var from_$input = $(lower).pickadate({formatSubmit: 'dd/mm/yyyy',format: 'dd/mm/yyyy'}),
	from_picker = from_$input.pickadate('picker');

	var to_$input = $(upper).pickadate({formatSubmit: 'dd/mm/yyyy',format: 'dd/mm/yyyy'}),
	to_picker = to_$input.pickadate('picker');


	// Check if there’s a “from” or “to” date to start with.
	if ( from_picker.get('value') ) {
		to_picker.set('min', from_picker.get('select'));
	}
	if ( to_picker.get('value') ) {
		from_picker.set('max', to_picker.get('select'));
	}

	// When something is selected, update the “from” and “to” limits.
	from_picker.on('set', function(event) {
		if ( event.select ) {
			to_picker.set('min', from_picker.get('select'));
		}
		else if ( 'clear' in event ) {
			to_picker.set('min', false);
		}
	});
	to_picker.on('set', function(event) {
		if ( event.select ) {
			from_picker.set('max', to_picker.get('select'));
		}
		else if ( 'clear' in event ) {
			from_picker.set('max', false);
		}
	});


	}




	console.log(s);
});

      });
  </script>



<script>

  var input = document.querySelector("#id_phone"),
  errorMsg = document.querySelector("#error-msg"),
  validMsg = document.querySelector("#valid-msg");

 var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];

// initialise plugin
var iti = window.intlTelInput(input, {
initialCountry:"sn",
  onlyCountries: ["sn" ],
  utilsScript: "{% static 'telinput/build/js/utils.js' %}"
});

var reset = function(inputVar,errorVar,validVar) {
  inputVar.classList.remove("error");
  errorVar.innerHTML = "";
  errorVar.classList.add("hide");
  validVar.classList.add("hide");
};

// on blur: validate
input.addEventListener('blur', function() {

 reset(input,errorMsg,validMsg);
  if (input.value.trim()) {
    if (iti.isValidNumber()) {
      validMsg.classList.remove("hide");
    } else {
      input.classList.add("error");
      var errorCode = iti.getValidationError();
      errorMsg.innerHTML = errorMap[errorCode];
      errorMsg.classList.remove("hide");
    }
  }
});

// on keyup / change flag: reset
input.addEventListener('change', reset);
input.addEventListener('keyup', reset);




if ($('.iban-inputmask').length > 0){
$('.iban-inputmask').inputmask("AA999 99999 999999999999 99");

}



if ($('.amount-inputmask').length > 0){

//$('.amount-inputmask').inputmask('999 999 999', { numericInput: true });
$('.amount-inputmask').inputmask('decimal', { rightAlign: false,groupSeparator:" " });

}

  </script>



{% endblock javascript %}
