{% extends "stack_base.html" %}
{% load helpers_tags static i18n %}
{% load render_table from django_tables2 %}

{% load widget_tweaks %}

{% block vendorcss %}
<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/tables/extensions/responsive.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/tables/extensions/colReorder.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/tables/extensions/buttons.dataTables.min.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/tables/extensions/fixedHeader.dataTables.min.css' %}">


<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/pickers/daterange/daterangepicker.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/pickers/datetime/bootstrap-datetimepicker.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/css/plugins/pickers/daterange/daterange.css' %}">

<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/pickers/pickadate/pickadate.css' %}">

{% endblock vendorcss %}


{% block css %}


{% endblock  %}


{% block contentheader %}

{% include "modals/_modal.html" %}
<div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0 active">{{title}} </h3>

    <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">

                <li class="breadcrumb-item active">
                </li>
            </ol>
        </div>
    </div>
</div>

{% if can_create_dcp%}
<div class="content-header-right text-md-right col-md-6 col-12">
    <div class="form-group">

        <a type="button" class="btn btn-primary mb-1" href="{{create_url}}">
            <i class="feather icon-plus-square mr-50"></i> Nouvelle Commande
        </a>
    </div>
</div>
{% endif %}

{% endblock %}

{% block content %}


{% if  filter %}

<section class="horizontal-grid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Filtrer</h4>
                    <a class="heading-elements-toggle"><i class="feather icon-align-justify font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                            <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>
                            <li><a data-action="close"><i class="feather icon-x"></i></a></li>
                        </ul>
                    </div>
                </div>


                <div class="card-content collapse show">
                    <div class="card-body">
                        <form action="#">
                            <div class="form-body">
                                <div class="row">
                                    {% with filter.form as form %}


                                    {% include "includes/form_fields.html" %}
                                    {% endwith%}
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-primary">Filtrer <i
                                            class="feather icon-search position-right"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}

<section>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{data_title}} {% if can_valid_co %} <a type="button" class="btn btn-warning" href="{% url 'bankcheck:valider_all_commande' %}">Editer Bordereau</a>{% endif %}</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                            <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>

                        </ul>
                    </div>
                </div>

                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <!-- datatable started -->

                        {% render_table table %}


                    </div>
                </div>
            </div>

        </div>
    </div>


</section>


{% endblock %}


<!-- BEGIN: Page Vendor JS-->
{% block vendorjs %}
<script src="{% static 'stack/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/tables/datatable/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/tables/jszip.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/tables/pdfmake.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/tables/vfs_fonts.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/tables/buttons.html5.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/tables/buttons.print.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/tables/buttons.colVis.min.js' %}"></script>

<script src="{% static 'stack/app-assets/js/scripts/tables/datatables-extensions/datatable-responsive.js' %}"></script>


<script src="{% static 'stack/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.date.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.time.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/legacy.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/daterange/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>


{% endblock vendorjs %}

<!-- END: Page JS-->

{% block javascript %}


<script type="text/javascript">
    $(function () {
        // Create item synchronous
        function createItemSyncModalForm() {
          $("#create-item").modalForm({
              formURL: "{{create_url}}",
              modalID: "#create-modal"
          });
        }
         createItemSyncModalForm();


          function deleteItemModalForm() {

          $(".delete-item").each(function () {
              $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});

          });
        }
        deleteItemModalForm();





         // modal form
        function updateItemModalForm() {
          $(".update-item").each(function () {
            $(this).modalForm({
              formURL: $(this).data("form-url"),
              asyncUpdate: false

            });
          });
        }
        updateItemModalForm();


          function reinstantiateModalForms() {

          createItemSyncModalForm();
          deleteItemModalForm();
          updateItemModalForm();
        }


         $('.datetimepicker').datetimepicker({format: 'MM/DD/YYYY HH:mm:ss'});
    });
</script>


{% endblock javascript %}
