{% extends "invoice/stack_balance.html" %}
{% load helpers_tags static i18n qr_code humanize %}

{% block headercompte %}
<div class="row justify-content-center">



<div class="col-12">
  <div class="row">
      <div class="col-12">

					<table id="balance_header" class="table table-borderless mb-0 table-lg "   style=" border-collapse: separate; border-spacing: 10px 5px;">

                      <tbody>
							<tr>
								<td class="bg-light font-weight-bold" ><h3>DATE IMPRESSION</h3></td>

                              <td class="bg-light  font-weight-bold"><h3> {{date}}</h3></td>

							</tr>

                      <tr>
								<td class="bg-light font-weight-bold"><h3>GESTION</h3></td>
                        <td class="bg-light font-weight-bold"> <h3>{{gestion}}</h3></td>

							</tr>



                      <tr>
                          <td class="bg-light font-weight-bold" colspan="2" align="center"><h3>{{poste}}</h3></td>


							</tr>



						</tbody>

					</table>


</div>

</div></div>





</div>
{% endblock %}

{% block contentinvoice %}

<div class="row justify-content-center">



                     <div class="col-8 d-flex justify-content-center center">

                         <h2>BALANCE COMPTE DE DEPOT AU {{date}}</h2>
                     </div>



</div>



<br>


<div class="row justify-content-center">


                     <div class="col-12">

                    <table class="table table-condensed table-hover table-sm table-bordered" id="idPage" >

                         <tbody>

                        <tr  class="bg-light">
                             <th rowspan="3">COMPTE</th>
                            <th rowspan="3">LIBELLE</th>
                            <th rowspan="3">PROVENANCE</th>
                            <th colspan="2" text-align="center">BALANCE D'ENTREE</th>


                            <th colspan="4" text-align="center">OPERATION DE L'ANNEE</th>


                            <th colspan="4" text-align="center">TOTAL</th>


                            <th colspan="4" text-align="center">BALANCE DE SORTIE</th>


                        </tr>

                           <tr class="bg-light" >
                            <th colspan="2">CREDIT</th>

                            <th colspan="2">DEBIT</th>

                            <th colspan="2">CREDIT</th>


                            <th colspan="2">DEBIT</th>
                            <th colspan="2">CREDIT</th>

                            <th colspan="2">DEBIT </th>
                            <th colspan="2">CREDIT </th>

                        </tr>

                           <tr class="bg-light" >
                            <th >FONC</th>
                            <th >INV</th>

                            <th > FONC</th>
                            <th > INV</th>
                            <th > FONC</th>
                            <th > INV</th>

                            <th >FONC</th>
                            <th > INV</th>
                            <th > FONC</th>
                            <th > INV</th>

                            <th > FONC</th>
                            <th > INV</th>
                            <th > FONC</th>
                            <th > INV</th>

                        </tr>
                        {% for comptegenerique in balances %}

                        {% for balance in comptegenerique.balances %}


                         {% if balance.provenance == "" %}
                           <tr class="bg-success">
                               {%else%}
                                <tr >
                               {% endif %}
                             <td >{{balance.compte}}</td>
                            <td >{{balance.libelle}}</td>
                               <td >{{balance.provenance}}</td>
                            <td align="right">{{balance.be_credit_fonc|intcomma}}</td>
                            <td align="right">{{balance.be_credit_inv|intcomma}}</td>
                               <td align="right">{{balance.op_debit_fonc|intcomma}}</td>
                            <td align="right">{{balance.op_debit_inv|intcomma}}</td>

                            <td align="right">{{balance.op_credit_fonc|intcomma}}</td>
                            <td align="right">{{balance.op_credit_inv|intcomma}}</td>
                               <td align="right">{{balance.total_debit_fonc|intcomma}}</td>
                            <td align="right">{{balance.total_debit_inv|intcomma}}</td>

                            <td align="right">{{balance.total_credit_fonc|intcomma}}</td>
                            <td align="right">{{balance.total_credit_inv|intcomma}}</td>
                               <td align="right">{{balance.bs_debit_fonc|intcomma}}</td>
                            <td align="right">{{balance.bs_debit_inv|intcomma}}</td>

                            <td align="right">{{balance.bs_credit_fonc|intcomma}}</td>
                            <td align="right">{{balance.bs_credit_inv|intcomma}}</td>


                        </tr>
                         {% endfor %}

                         <tr  class="bg-light">
                             <td colspan="3" >TOTAL COMPTE GENERIQUE {{comptegenerique.code}} </td>

                            <td align="right">{{comptegenerique.totaux.be_credit_fonc|intcomma}}</td>
                            <td align="right">{{comptegenerique.totaux.be_credit_inv|intcomma}}</td>
                               <td align="right">{{comptegenerique.totaux.op_debit_fonc|intcomma}}</td>
                            <td align="right">{{comptegenerique.totaux.op_debit_inv|intcomma}}</td>

                            <td align="right">{{comptegenerique.totaux.op_credit_fonc|intcomma}}</td>
                            <td align="right">{{comptegenerique.totaux.op_credit_inv|intcomma}}</td>
                               <td align="right">{{comptegenerique.totaux.total_debit_fonc|intcomma}}</td>
                            <td align="right">{{comptegenerique.totaux.total_debit_innv|intcomma}}</td>

                            <td align="right">{{comptegenerique.totaux.total_credit_fonc|intcomma}}</td>
                            <td align="right">{{comptegenerique.totaux.total_credit_inv|intcomma}}</td>
                               <td align="right">{{comptegenerique.totaux.bs_debit_fonc|intcomma}}</td>
                            <td align="right">{{comptegenerique.totaux.bs_debit_inv|intcomma}}</td>

                            <td align="right">{{comptegenerique.totaux.bs_credit_fonc|intcomma}}</td>
                            <td align="right">{{comptegenerique.totaux.bs_credit_inv|intcomma}}</td>


                        </tr>


  {% endfor %}
                           <tr  class="bg-light">
                             <td  colspan="3">TOTAUX</td>
                            <td align="right">{{totaux.be_credit_fonc|intcomma}}</td>
                            <td align="right">{{totaux.be_credit_inv|intcomma}}</td>
                               <td align="right" >{{totaux.op_debit_fonc|intcomma}}</td>
                            <td align="right">{{totaux.op_debit_inv|intcomma}}</td>

                            <td align="right">{{totaux.op_credit_fonc|intcomma}}</td>
                            <td align="right">{{totaux.op_credit_inv|intcomma}}</td>
                               <td align="right">{{totaux.total_debit_fonc|intcomma}}</td>
                            <td align="right">{{totaux.total_debit_inv|intcomma}}</td>

                            <td align="right">{{totaux.total_credit_fonc|intcomma}}</td>
                            <td align="right">{{totaux.total_credit_inv|intcomma}}</td>
                               <td align="right">{{totaux.bs_debit_fonc|intcomma}}</td>
                            <td align="right">{{totaux.bs_debit_inv|intcomma}}</td>

                            <td align="right">{{totaux.bs_credit_fonc|intcomma}}</td>
                            <td align="right">{{totaux.bs_credit_inv|intcomma}}</td>


                        </tr>

                        </tbody>

					</table>


                     </div>




</div>






{% endblock  %}
