{% extends "invoice/stack_repport_pdf.html" %}
{% load helpers_tags static i18n qr_code humanize %}
{% load widget_tweaks %}

{% block vendorcss %}



{% endblock vendorcss %}



{% block headercompte %}
<div class="row justify-content-center">


       <div class="col-12">

					<table id="balance_header" class="table table-borderless mb-0 table-lg "   style=" border-collapse: separate; border-spacing: 10px 5px;">

                        <tbody>
                            <tr  class="bg-light" style="background-color:#babfc7">
                                <td class="bg-light font-weight-bold">DATE IMPRESSION</td>

                                <td class="bg-light  font-weight-bold"> {{date}}</td>

                            </tr>

                            <tr  class="bg-light" style="background-color:#babfc7">
                                <td class="bg-light font-weight-bold">GESTION</td>
                                <td class="bg-light font-weight-bold"> {{annee_comptable}}</td>

                            </tr>

                            <tr  class="bg-light" style="background-color:#babfc7">
                                <td class="bg-light font-weight-bold" colspan="2" align="center">  {{compte.poste}}</td>


                            </tr>





                            <tr  class="bg-light" style="background-color:#babfc7">
                                <td class="bg-light font-weight-bold" colspan="2" align="center">RELEVÉ DES OPÉRATIONS DU COMPTE {{compte.short_compte}}: {{compte.libelle_court}}<br /> DU {{start_date}} AU {{end_date}}</td>


                            </tr>
                            <!--
                           <tr>
                                    <td class="bg-light font-weight-bold" colspan="2" align="center">SOLDE DU COMPTE AU 31 DÉCEMBRE {{last_year}} : {{last_balance|intcomma}}</td>


                                </tr>-->

                        </tbody>

					</table>


</div>

</div>
                                                         {% endblock %}

{% block contentinvoice %}







    <div class="justify-content-center center">                      
        <h2 style="text-align: center;">RELEVÉ D'OPÉRATIONS DU {{start_date}} AU {{end_date}}</h2>
    </div>
                        
                       





<div class="row justify-content-center">


                     <div class="col">
                         <div class="table-responsive-sm">
                    <table class="table table-condensed table-hover table-sm"   id="idreleve">
						<thead>
							<tr  align="center" class="bg-light" style="background-color:#babfc7">
                                <th style="width: 16.66%">DATE VISA</th>


                             <th style="width: 16.66%">RÉFÉRENCE</th>
                               <!-- <th >OB</th>-->
                                <th style="width: 16.66%">NATURE DE L'OPÉRATION</th>
                                 <th style="width: 16.66%">BÉNÉFICIAIRE</th>
                                <th style="width: 16.66%">MONTANT DÉBIT</th>
                                <th style="width: 16.66%">MONTANT CRÉDIT</th>


                        </tr>
						</thead>
                        <tbody>

                        <td align="center" colspan="4" class="bg-light font-weight-bold" style="width: 66.66%">SOLDE DU COMPTE AU  {{previous__date}} </td>

                            <td align="right"><b>0</b></td>
                            <td class="font-weight-bold" align="right">{{account_balance.last_balance|intcomma}}</td>




                        </tr>
                        {% for trx in trxs %}
                        <tr >


                            <td align="center" style="width: 16.66%">{{trx.date_rlv|date:"d/m/y"}}</td>

                            <td align="center" style="width: 16.66%">{{trx.reference|slice:":20"}}</td>
                            <!--<td align="center">{{trx.get_mean_code}}</td>-->
                            <td align="left" style="width: 16.66%">{{trx.libelle|slice:":30"}}</td>
                            <td align="left" style="width: 16.66%">{{trx.beneficiaire|slice:":30"}}</td>
                            <td align="right" style="width: 16.66%"><b>{{trx.debit_amount|intcomma}}</b></td>
                            <td class="font-weight-bold" align="right" style="width: 16.66%">{{trx.credit_amount|intcomma}}</td>




                        </tr>
                        {% endfor %}

                        <tr>

                            <td colspan="3" style="width: 50%">Nombre de lignes : {{lignes}} </td>
                            <td colspan="1" class="font-weight-bold" align="right" style="width: 16.66%">  Total :  </td>

                            <td class="font-weight-bold" align="right" style="width: 16.66%">{{account_balance.debit|intcomma}}</td>
                            <td class="font-weight-bold" align="right" style="width: 16.66%">{{account_balance.credit|intcomma}}</td>


                        </tr>
                        </tbody>
					</table>

                         </div>
                     </div>




</div>


<br>
    <br>





<div class="row justify-content-center">

    <div class="col-8 d-flex justify-content-center">
        <div class="table-responsive">
                        <table class="table table-bordered">

                            <tbody >
                                <tr class="bg-light">
                                    <td scope="row" class="font-weight-bold" style="width: 33.33%">TOTAL GÉNÉRAL</td>
                                    <td align="right" style="width: 33.33%"><span><b>{{account_balance.debit|intcomma}}</b></span></td>
                                    <td align="right" style="width: 33.33%"><span><b>{{account_balance.credit|intcomma}}</b></span></td>

                                </tr>
                                <tr class="bg-yellow bg-lighten-5">
                                    <td scope="row" class="font-weight-bold" style="width: 33.33%">SOLDE CRÉDITEUR</td>
                                    <td colspan="2" align="right" style="width: 66.66%"><span><b>{{account_balance.balance|intcomma}}</b></span></td>

                                </tr>

                            </tbody>
                        </table>
                    </div>


</div>
</div>









<br>
<br>

{%  if eninstance %}

<div class="row justify-content-center">


    <div class="col-12">
          <div class="table-responsive-sm">

        		<table id="balance_header" class="table table-borderless mb-0 table-lg "   style=" border-collapse: separate; border-spacing: 10px 5px;">
                      <tbody>
                        <tr  class="bg-light" style="background-color:#babfc7">
                            <th colspan="1" text-align="center"> OPÉRATIONS EN INSTANCE DE PAIEMENT DU COMPTE {{compte.short_compte}} : {{compte.libelle}}</th>
								
							</tr>
						</tbody>
					</table>
                </div>

    </div>
    <br>


        <div class="col-12">
                         <div class="table-responsive-sm">
                    <table class="table table-condensed table-hover table-sm"   id="idreleve">
						<thead>
							<tr  align="center">
                                <th>DATE PEC</th>
                                <th>N° RÉFERENCE</th>
                                <!--<th >OB</th>-->
                                <th>LIBELLÉ DE L'OPÉRATION</th>
                                <th>BÉNÉFICIAIRE</th> 
                                <th>MONTANT DÉBIT</th>
							</tr>
                        </tr>
						</thead>
                        <tbody>
                        {% for trx in pcharges %}
                        <tr >
<td align="center">{{trx.created|date:"d-m-Y"}}</td>
                            <td align="center">{{trx.ordre.sig_reference|slice:":20"}}</td>

                            <!--<td align="left">{{trx.get_mean_code}}</td>-->

                            <td align="left">{{trx.ordre.object|slice:":30"}}</td>
                            <td class="font-weight-bold" align="right">{{trx.ordre.beneficiaire}}</td>
                            <td align="right"><b>{{trx.get_reliquat|intcomma}}</b></td>




                        </tr>
                        {% endfor %}

                        <tr>

                            <td colspan="3">Nombre de lignes : {{lignes_inst}} </td>
                            <td colspan="1" class="font-weight-bold" align="right">  Total :  </td>

                            <td class="font-weight-bold" align="right">{{account_balance.montant_inst|intcomma}}</td>





                        </tr>
                        </tbody>
					</table>

                         </div>
                     </div>




    <br>

    <div class="col-6 d-flex justify-content-center">
        <div class="table-responsive">
                        <table class="table table-bordered">

                            <tbody >
                                <tr class="bg-yellow bg-lighten-5" >
                                    <td scope="row" class="font-weight-bold">DISPONIBLE</td>
                                    <td align="center"><span><b>{{account_balance.disponible|intcomma}}</b></span></td>


                                </tr>

                            </tbody>
                        </table>
                    </div>


</div>

</div>

{% endif %}
<br>

<div class="row justify-content-end">
<div class="col-12 ml-auto d-flex justify-content-end" align="right"> <b> Imprimé  par {{user.username}} le {% now "d-m-Y" %} </b></div>
</div>
<br>

{% endblock  %}


 <!-- BEGIN: Page Vendor JS-->
{% block vendorjs %}


    <!-- END: Page JS-->

{% endblock vendorjs %}

 