{% extends "invoice/stack_report.html" %}
{% load helpers_tags static i18n qr_code humanize %}


{% block vendorcss %}


<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/pickers/daterange/daterangepicker.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/pickers/datetime/bootstrap-datetimepicker.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/css/plugins/pickers/daterange/daterange.css' %}">

<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/pickers/pickadate/pickadate.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/css/plugins/forms/extended/form-extended.css' %}">

{% endblock vendorcss %}

{% block headercompte %}
<div class="row justify-content-center">

<div class="col-12">
  <div class="row">
      <div class="col-12">

					<table id="balance_header" class="table table-borderless mb-0 table-lg "   style=" border-collapse: separate; border-spacing: 10px 5px;">

                      <tbody>
							<tr>
                                <td class="bg-light font-weight-bold" ><h4>DATE IMPRESSION</h4></td>

                                <td class="bg-light  font-weight-bold"><h4> {{date}}</h4></td>

							</tr>

                      <tr>
                          <td class="bg-light font-weight-bold"><h4>GESTION</h4></td>
                          <td class="bg-light font-weight-bold"><h4> {{gestion}}</h4></td>

							</tr>



                      <tr>
                          <td class="bg-light font-weight-bold" colspan="2" align="center"><h4>{{poste}}</h4></td>


							</tr>

                      <tr>
                          <td class="bg-light font-weight-bold" colspan="2" align="center"> <h4>LISTES DES BLOCAGES FONDS </h4></td>


							</tr>

						</tbody>

					</table>



</div>

</div></div>





</div>
{% endblock %}

{% block contentinvoice %}

<div class="row justify-content-center">



                     <div class="col-8 d-flex justify-content-center center">

                         <h2>Date Visa : {{visa_date}}</h2>
                     </div>



</div>


<div class="row justify-content-center">


                     <div class="col-12">

                    <table class="table table-condensed table-hover table-sm table-bordered"  >

                         <tbody>



                             <tr class="bg-light">
                                 <th rowspan="1">N°Compte</th>
                                 <th rowspan="1">N° PROJET</th>
                                 <th rowspan="1">NOM PROJET</th>
                                 <th colspan="1" text-align="center">PRESTATAIRE</th>
                                  <th colspan="1" text-align="center">NINEA PRESTATAIRE</th>
                                 <th colspan="1" text-align="center">MONTANT</th>
                             </tr> 


                        {% for balance in balances %}


                             <tr>
                                 <td>{{balance.account_depot}}</td>
                                 <td>{{balance.reference}}</td>
                                 <td>{{balance.libelle}}</td>
                                 <td>{{balance.prestataire}}</td>
                                 <td>{{balance.ninea}}</td>
                                 <td align="right">{{balance.amount|intcomma}}</td>

                             </tr>

  {% endfor %}

                        </tbody>

					</table>


                     </div>




</div>


<div class="row justify-content-center">

    <div class="col-6 d-flex justify-content-center">
        <div class="table-responsive">
            <table class="table table-bordered">


                <tbody>
                    <tr class="bg-light">
                        <th colspan="2" text-align="center"><h4>RECAPITULATION</h4></th>
                    </tr>

                    <tr>
                        <th rowspan="1">NATURE</th>
                        <th colspan="1" align="center">MONTANT</th>
                    </tr>
                    {% for item in Datas %}

                    <tr>
                        <th rowspan="1">{{item.nature}}</th>
                        <th colspan="1" align="center">{{item.total.amount|to_int}}</th>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>

</div>



{% endblock  %}

<!-- BEGIN: Page Vendor JS-->
{% block vendorjs %}

<script src="{% static 'stack/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.date.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.time.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/legacy.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/daterange/daterangepicker.js' %}"></script>

<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>



{% endblock vendorjs %}s
