{% extends "invoice/stack_report.html" %}
{% load helpers_tags static i18n qr_code humanize %}


{% block vendorcss %}


<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/pickers/daterange/daterangepicker.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/pickers/datetime/bootstrap-datetimepicker.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/css/plugins/pickers/daterange/daterange.css' %}">

<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/pickers/pickadate/pickadate.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/css/plugins/forms/extended/form-extended.css' %}">

{% endblock vendorcss %}

{% block headercompte %}
<div class="row justify-content-center">

<div class="col-12">
  <div class="row">
      <div class="col-12">

					<table id="balance_header" class="table table-borderless mb-0 table-lg "   style=" border-collapse: separate; border-spacing: 10px 5px;">

                      <tbody>
							<tr>
                                <td class="bg-light font-weight-bold" ><h4>DATE IMPRESSION</h4></td>

                                <td class="bg-light  font-weight-bold"><h4> {{date}}</h4></td>

							</tr>

                      <tr>
                          <td class="bg-light font-weight-bold"><h4>GESTION</h4></td>
                          <td class="bg-light font-weight-bold"><h4> {{gestion}}</h4></td>

							</tr>
							<tr>
                               {% if moyenpay %} 
							   <td class="bg-light font-weight-bold"><h4>MOYEN DE PAIEMENT</h4></td>
							   <td class="bg-light font-weight-bold"><h4> {{moyenpay}}</h4></td>

							
                               {% else %}
                               
                                
                                <td class="bg-light font-weight-bold" colspan="2" align="center"><h4> TOUS LES MOYENS DE PAIEMENT</h4></td>
 
                            

                              {% endif %}
                            </tr>
                      <tr>
                          <td class="bg-light font-weight-bold" colspan="2" align="center"><h4>{{poste}}</h4></td>


							</tr>

                      

						</tbody>

					</table>



</div>

</div></div>





</div>
{% endblock %}

{% block contentinvoice %}

<div class="row justify-content-center">


     <div class=colspan="6" "col-8 d-flex justify-content-center center">
        <h2>LISTE DES OPÉRATIONS VISÉES PAR MOYENT DE PAIEMENT</h2><br/>
     </div>
                     <div class="col-8 d-flex justify-content-center center">
                        
                         <h2>A LA DU  {{start_date}} AU {{end_date}}</h2>
                     </div>



</div>


<div class="row justify-content-center">


                     <div class="col-12">

                    <table class="table table-condensed table-hover table-sm table-bordered"  >

                         <tbody>
             {% if listavis %}                

        {% for avis in listavis %}
                            
        <tr >
            <td class="bg-primary text-left"colspan="4" style="font-size: 90% !important;">Compte {{avis.shortcompte}}: {{avis.libelle_court}}</td>
           
        </tr>

     <tr  class="bg-light">
        
         <th rowspan="1">N° OPÉRATION</th>
         <th rowspan="1">BÉNÉFICIAIRE</th>
         <th colspan="1" text-align="center"> DATE VISA</th>
         <th colspan="1" text-align="center">MONTANT</th>
         
         
     </tr>
                      
                        {% for item in avis.items %}

                           <tr>
                             <th >{{item.reference}}</th>
                            <th style="text-align: left !important;">{{item.beneficiaire}}</th>
                            <th >{{item.date_visa}}</th>
                            <th align="right">{{item.amount|intcomma}}</th>
                            

                            </tr>

                        {% endfor %}
                        <tr>
                            <th class="text-left" rowspan="1" colspan="3">Total compte</th>
                            <th colspan="1" align="right">{{avis.total|intcomma}}</th>
                        </tr>
         {% endfor %}
         <tr class="bg-light">
            <th class="text-left" rowspan="1" colspan="3" align="left">Total général</th>
             <th align="right">{{total_general|intcomma}}</th>
          </tr>
         {% else %}
         <tr  class="bg-light">
        
         <th rowspan="1">N° OPERATION</th>
         <th rowspan="1">BENEFICIAIRE</th>
         <th colspan="1" text-align="center"> DATE VISA</th>
         <th colspan="1" text-align="center">MONTANT</th>
           
           
       </tr>
         {% endif %}
                      
                        </tbody>

					</table>


                     </div>




</div>






{% endblock  %}

<!-- BEGIN: Page Vendor JS-->
{% block vendorjs %}

<script src="{% static 'stack/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.date.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.time.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/legacy.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/daterange/daterangepicker.js' %}"></script>

<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>



{% endblock vendorjs %}s
