{% extends "stack_base.html" %}
{% load helpers_tags static i18n %}
{% load render_table from django_tables2 %}
{% load thumbnail humanize%}
{% load widget_tweaks %}

{% block vendorcss %}


<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/pickers/daterange/daterangepicker.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/pickers/datetime/bootstrap-datetimepicker.css' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/css/plugins/pickers/daterange/daterange.css' %}">

<link rel="stylesheet" type="text/css"
      href="{% static 'stack/app-assets/vendors/css/pickers/pickadate/pickadate.css' %}">

{% endblock vendorcss %}


{% block css %}

<!-- BEGIN: Page CSS-->


<link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/css/pages/card-statistics.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/css/pages/vertical-timeline.css' %}">
<!-- END: Page CSS-->
{% endblock  %}


{% block contentheader %}

{% include "modals/_modal.html" %}
<div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0 active">Réceptionner chèque </h3>
    <div class="row breadcrumbs-top">
        <div class="breadcrumb-wrapper col-12">
            <ol class="breadcrumb">

                <li class="breadcrumb-item active">
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="content-header-right text-md-right col-md-6 col-12">
                    <div class="form-group">








                    </div>
                </div>



{% endblock %}

{% block content %}

<div class="row minimal-modern-charts">

     <!-- latest update tracking chart-->
    <div class="col-md-6">
    <div class=" col-12 ">
        <div class="card">


            <div class="card-header latest-update-heading d-flex justify-content-between">
          <h4 class="latest-update-heading-title text-bold-500">Receptionner chèque</h4>
          <div class="dropdown update-year-menu pb-1">


          </div>
        </div>



 {% include "cddaccount/component.html" %}


        </div>
    </div>



    </div>



     <div class="col-md-6">
          <div class=" col-12 ">
        <div class="card">


            <div class="card-header latest-update-heading d-flex justify-content-between">
          <h4 class="latest-update-heading-title text-bold-500">ORDRE DE PAIEMENT N° <code>{{object.sig_reference}}</code> </h4>



                 <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li> <span class="badge bagde-info users-view-status">{{object.etape}}</span></li>
                                            <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                                        </ul>
                                    </div>

        </div>



            <div class="card-content latest-update-tracking-list pt-0 pb-1 px-2 position-relative">

                <table class="table table-sm table-striped table-borderless mb-0">

                    <thead class="bg-success bg-lighten-4">
                            <tr>
                                <th>Montant</th>
                                <th>{{object.amount}}</th>

                            </tr>

                    {% if object.reservationfond  and object.reservationfond.reglement != "GLOBAL" %}

                            <tr>
                                <th class="bg-warning bg-lighten-4">Déjà payé</th>
                                <th class="bg-warning bg-lighten-4">{{object.reservationfond.get_trx_amount|intcomma}} CFA</th>

                            </tr>




                             <tr>
                                <th class="bg-yellow bg-lighten-4">Reste à payer</th>
                                <th class="bg-yellow bg-lighten-4">{{object.reservationfond.get_reliquat|intcomma}} CFA</th>

                            </tr>

                            {% endif %}



                        </thead>
            <tbody>

             {% if object.annulation_op %}
               <tr>
                <td class="bg-danger bg-lighten-4">Rejeté le </td>
                <td class="bg-danger bg-lighten-4">{{object.annulation_op.created}}</td>
              </tr>

             <tr>
                <td class="bg-danger bg-lighten-4">Motif rejet</td>
                <td class="bg-danger bg-lighten-4">{{object.annulation_op.observations}}</td>
              </tr>
               {% endif %}


            <tr>
                <td>Réglement</td>
                <td>{{object.get_reglement}}</td>
              </tr>
             <tr>
                <td>Mode paiement</td>
                <td>{{object.get_payment_mean}}</td>
              </tr>

            <tr>
                <td>Objet</td>
                <td>{{object.object}}</td>
              </tr>




            {% if object.jour_comptable and object.etape == "VISA" %}
               <tr>
                <td>Journée comptable</td>
                <td>{{object.jour_comptable.jour}}</td>
              </tr>
               {% endif %}



            {% if object.blocage  %}
               <tr>
                <td>Blocage de fond</td>
                <td><a href="{% url 'cddaccount:details_blocagefond' object.blocage.id %}">{{object.blocage.ref_marche}}</a></td>
              </tr>
               {% endif %}


               <tr>
                <td>Bénéficiaire</td>
                <td>{{object.beneficiaire}}</td>
              </tr>
               {% if object.ninea%}
               <tr>
                <td>Ninéa</td>
                <td>{{object.ninea}}</td>
              </tr>
               {% endif %}
              {% if object.cheque%}
              <tr>
                <td>Numéro Cheque:</td>
                <td>{{object.cheque}}</td>
              </tr>
              {% endif %}
              <tr>
                  <td>Compte Bancaire</td>
                <td>{{object.iban}}</td>

              </tr>


            <tr>
                <td>Mandataire</td>
                <td>{{object.depositaire.full_name}}</td>

              </tr>

            <tr>
                <td>Date ouverture</td>
                <td>{{object.open_date}}</td>

              </tr>

            {% if object.prise_en_charge %}
            <tr>
                <td>Date Prise en charge</td>
                <td>{{object.date_prise_en_charge}}</td>

              </tr>

            <tr>
                <td>Agent Prise en charge</td>
                <td>{{object.prise_en_charge.creator.full_name}}</td>

              </tr>

            {% if object.prise_en_charge.visa %}

            <tr>
                <td>Date Visa</td>
                <td>{{object.date_visa}}</td>

              </tr>

            <tr>
                <td>Agent Visa</td>
                <td>{{object.prise_en_charge.visa.creator.full_name}}</td>

              </tr>
            {% endif %}
            {% endif %}



            <tr>
                <td>Statut Ordre</td>
                <td>{{object.status}}</td>

              </tr>
             <tr>
                <td>Observations</td>
                <td>{{object.observations}}</td>

              </tr>





            </tbody>
          </table>
            </div>
        </div>
    </div>


     </div>



</div>


{% endblock %}


<!-- BEGIN: Page Vendor JS-->
{% block vendorjs %}



<script src="{% static 'stack/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.date.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.time.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/legacy.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/pickers/daterange/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
 <script src="{% static 'stack/app-assets/vendors/js/forms/extended/inputmask/jquery.inputmask.bundle.min.js' %}"></script>
 <script src="https://unpkg.com/htmx.org@1.8.0"></script>

{% endblock vendorjs %}

<!-- END: Page JS-->

{% block javascript %}


<script type="text/javascript">
      $(function () {

          let eMPamean =$("#id_type");
          let pvalue=eMPamean.val();

          showHideMandataireField(eMPamean.val());
          eMPamean.change(function (){showHideMandataireField(eMPamean.val());});



           $('.datetimepicker').datetimepicker({format: 'MM/DD/YYYY HH:mm:ss'});
      });

</script>




<script>



   function showHideMandataireField(ePmeanVal) {
        let odval = ePmeanVal;
        if (!odval )
        {return false;}
        let label = $("label[for=id_mandataire]");

        if (odval=="MANDATAIRE"){
        $('#id_cheque').show();
        $('#id_mandataire').show();
        $('#id_mandataire').select2().next().show();
        $('#id_mandataire').prop('required', true);
        label.show();

        }

        else{
        $('#id_mandataire').hide();
        $('#id_mandataire').prop('required', false);
        $('#id_mandataire').select2().next().hide();
        label.hide();

        }
  }

</script>



<script>
  $(function() {
    console.log("ready!");

    // POST
    $("#sendOtpForm").on('submit', (e) => {
      // prevent page reload
      e.preventDefault();
      // get the values from the form fields
      let formData = {
        type: sendOtpForm.elements["id_type"].value,
        mandataire: sendOtpForm.elements["id_mandataire"].value,
        cheque: sendOtpForm.elements["id_cheque"].value,
        ordre:sendOtpForm.elements["id_ordre"].value,
      }
      let url = '{% url "cddaccount:send_otp_sms_for_cheque" %}';
      sendAjaxRequest(url, formData);
      $("#sendOtpForm").trigger("reset");
    });






      // POST
    $("#verifyOtpForm").on('submit', (e) => {
      // prevent page reload
      e.preventDefault();
      // get the values from the form fields
      let formData = {
        otp: verifyOtpForm.elements["id_otp"].value,
        ordre: verifyOtpForm.elements["id_ordre"].value,
      }
      let url = '{% url "cddaccount:verify_otp_sms_for_cheque" %}';
      sendAjaxRequest(url, formData);
      $("#verifyOtpForm").trigger("reset");
    });





  });






function sendAjaxRequest(url, payload) {
  $.ajax({
    url: url,
    type: "POST",
    dataType: "json",
    data: JSON.stringify({payload: payload,}),
    headers: {
      "X-Requested-With": "XMLHttpRequest",
      "X-CSRFToken": getCookie("csrftoken"),
    },
    success: (data) => {
      console.log(data);

    },
    error: (error) => {
      console.log(error);
    }
  });
}





  function getCookie(name) {
  let cookieValue = null;
  if (document.cookie && document.cookie !== "") {
    const cookies = document.cookie.split(";");
    for (let i = 0; i < cookies.length; i++) {
      const cookie = cookies[i].trim();
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) === (name + "=")) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
}



</script>


{% endblock javascript %}
