{% extends "stack_base.html" %}
{% load helpers_tags static i18n %}
{% load render_table from django_tables2 %}
{% load thumbnail humanize%}
{% load widget_tweaks %}

   {% block vendorcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/vendors/css/tables/datatable/datatables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/vendors/css/tables/extensions/responsive.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/vendors/css/tables/extensions/colReorder.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/vendors/css/tables/extensions/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/vendors/css/tables/datatable/buttons.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/vendors/css/tables/extensions/fixedHeader.dataTables.min.css' %}">



    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/vendors/css/pickers/daterange/daterangepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/vendors/css/pickers/datetime/bootstrap-datetimepicker.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/css/plugins/pickers/daterange/daterange.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'stack/app-assets/vendors/css/pickers/pickadate/pickadate.css' %}">

   {% endblock vendorcss %}


 {% block css %}


{% endblock  %}




{% block contentheader %}

{% include "modals/_modal.html" %}
 <div class="content-header-left col-md-6 col-12 mb-2">
                    <h3 class="content-header-title mb-0 active">{{title}} </h3>
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item active">
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>


    <div class="content-header-right text-md-right col-md-6 col-12">
                    <div class="form-group">






                    </div>
                </div>


{% endblock %}

{% block content %}

<!-- users view start -->
                <section class="users-view">
                    <!-- users view media object start -->
                    <div class="row">
                        <div class="col-12 col-sm-7">
                            <div class="media mb-2">
                                <a class="mr-1" href="#">
                                    <img src="{% static 'stack/app-assets/images/portrait/small/avatar-s-24.png' %}" alt="users view avatar" class="users-avatar-shadow rounded-circle" height="64" width="64">
                                </a>
                                <div class="media-body pt-25">
                                    <h4 class="media-heading"><span class="users-view-name">{{agent.full_name}} </span></h4>
                                    <span>Matricule:</span>
                                    <span class="users-view-id">{{agent.matricule}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-5 px-0 d-flex justify-content-end align-items-center px-1 mb-2">
                            <a href="{% url 'cddaccount:agentsaisiecd_list' %}" class="btn btn-sm btn-info"><strong> {{agents_saisie}} Agents Saisies</strong></a>


                        </div>
                    </div>
                    <!-- users view media object ends -->






<div class="row minimal-modern-charts">

                    <div class="col-xxl-8 col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="card info-time-tracking">
                            <div class="card-content">
                               <div class="row grouped-multiple-statistics-card">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="d-flex align-items-start mb-sm-1 mb-xl-0 border-right-blue-grey border-right-lighten-5">

                                            <div class="stats-amount mr-3">
                                                <h3 class=" success heading-text text-bold-600">{{compte_depots_datas.solde|intcomma}} {{currency}}</h3>

                                                <p class="text-bold-600 mb-0"><a href="{% url 'cddaccount:comptedepot_list' %}">{{compte_depots_datas.nombre|intcomma}} Comptes</a></p>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="d-flex align-items-start mb-sm-1 mb-xl-0 border-right-blue-grey border-right-lighten-5">

                                            <div class="stats-amount mr-3">
                                                <h3 class="primary heading-text text-bold-600">{{ordres.amount|intcomma}} {{currency}}</h3>

                                                <p class="text-bold-600 mb-0"><a href="#">{{ordres.nombre|intcomma}} Ordres de paiement validés</a></p>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-2">
                                        <div class="d-flex align-items-start">

                                            <div class="stats-amount mr-3">
                                                <h3 class="danger heading-text text-bold-600">{{chequiers}}</h3>

                                                  <p class="text-bold-600 mb-0"><a href="#">Chequiers</a></p>
                                            </div>

                                        </div>
                                    </div>




                                    <div class="col-12">
                                        <hr>
<div class="row">

                                        <div class="col-4">
                        <div class="d-flex align-items-start mb-sm-1 mb-xl-0 border-right-blue-grey border-right-lighten-5">

                            <div class="stats-amount mr-3">

                                <h4 class="text-bold-500 danger">Avis de Débit</h4>

                                <p class="primary text-bold-600 mb-0">{{ordres_debit.amount|intcomma}}</p>
                            </div>
                            <span class="inc-dec-percentage">
                                                <small class="danger"> {{ordres_debit.items|intcomma}}</small>
                                            </span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex align-items-start border-right-blue-grey border-right-lighten-5">

                            <div class="stats-amount mr-3">
                                <h4 class="primary text-bold-500 success">Avis de Crédit</h4>

                                <span class="text-bold-600 mb-0">{{ordres_credit.amount|intcomma}}</span>
                            </div>
                            <span class="inc-dec-percentage">
                                                <small class="success">{{ordres_credit.items|intcomma}}</small>
                                            </span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="d-flex align-items-start">

                            <div class="stats-amount mr-3">
                                <h4 class="text-bold-500 warning">Fonds bloqués</h4>
                                <p class="primary text-bold-600 mb-0">{{fonds_bloques.solde|intcomma}}</p>
                            </div>
                            <span class="inc-dec-percentage">
                                                <small class="warning">{{fonds_bloques.items|intcomma}}</small>
                                            </span>

                        </div>
                    </div>

</div>
                                    </div>




                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                            </div>
                        </div>
                    </div>



                      <!-- latest update tracking chart-->
                    <div class="col-xxl-4 col-xl-8 col-lg-8 col-md-12 col-12 latest-update-tracking">
                        <div class="card">
                            <div class="card-header latest-update-heading d-flex justify-content-between">
                                <h4 class="latest-update-heading-title text-bold-500">Comptes dépôts</h4>

                            </div>
                            <div class="card-content latest-update-tracking-list pt-0 pb-1 px-2 position-relative">
                                <ul class="list-group">

                                    {% for compte in comptes %}



                                    <li class="list-group-item pt-0 px-0 latest-updated-item border-0 d-flex justify-content-between">
                                        <div class="d-flex align-items-center">

                                            <div>
                                                <p class="mb-25 latest-update-item-name text-bold-600"><a href="{{compte.get_absolute_url}}">{{compte.libelle}} </a></p>
                                                <small class="font-small-3">{{compte.balance}}</small>
                                            </div>
                                        </div>
                                        <span class="update-profit text-bold-600">{{compte.format_aster}}<br>




                                        </span>

                                    </li>


                                                {% endfor %}


                                </ul>
                            </div>
                        </div>
                    </div>
</div>







                      <div class="row">
                        <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                    <h4 class="card-title">Ordres de Paiement</h4>
                    <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="feather icon-minus"></i></a></li>
                            <li><a data-action="reload"><i class="feather icon-rotate-cw"></i></a></li>
                            <li><a data-action="expand"><i class="feather icon-maximize"></i></a></li>

                        </ul>
                    </div>
                </div>

                  <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <!-- datatable started -->

                        <p>Derniers Ordres de Paiement
                           <!-- <span class="float-right"><a href="#" target="_blank">Voir tous <i class="feather icon-arrow-right"></i></a></span> -->
                        </p>

 {% render_table table %}


                    </div>
                  </div>
                </div>

                             </div>
                    </div>

                </section>
                <!-- users view ends -->


{% endblock %}





 <!-- BEGIN: Page Vendor JS-->
{% block vendorjs %}
    <script src="{% static 'stack/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>
        <script src="{% static 'stack/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/tables/datatable/buttons.bootstrap4.min.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/tables/jszip.min.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/tables/pdfmake.min.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/tables/vfs_fonts.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/tables/buttons.html5.min.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/tables/buttons.print.min.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/tables/buttons.colVis.min.js' %}"></script>




    <script src="{% static 'stack/app-assets/vendors/js/tables/datatable/dataTables.colReorder.min.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/tables/datatable/dataTables.fixedHeader.min.js' %}"></script>


    <script src="{% static 'stack/app-assets/js/scripts/tables/datatables-extensions/datatable-responsive.js' %}"></script>



    <script src="{% static 'stack/app-assets/vendors/js/pickers/dateTime/moment-with-locales.min.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/pickers/dateTime/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.date.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/picker.time.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/pickers/pickadate/legacy.js' %}"></script>
    <script src="{% static 'stack/app-assets/vendors/js/pickers/daterange/daterangepicker.js' %}"></script>
<script src="{% static 'stack/app-assets/vendors/js/forms/extended/inputmask/jquery.inputmask.bundle.min.js' %}"></script>

    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>


{% endblock vendorjs %}

    <!-- END: Page JS-->

 {% block javascript %}




<script type="text/javascript">
      $(function () {
          // Create item synchronous
          function createItemSyncModalForm(eltId,createUrl) {
          console.log("testetd");

            eltId.modalForm({
                formURL: createUrl,
                modalID: "#create-modal"
            });
          }
           createItemSyncModalForm($("#create-item"),"{{create_url}}");
           createItemSyncModalForm($("#create-op"),"{{create_op_url}}");




            function deleteItemModalForm() {

            $(".delete-item").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});

            });
          }
          deleteItemModalForm();





           // modal form
          function updateItemModalForm() {
            $(".update-item").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                asyncUpdate: false

              });
            });
          }



               // modal form
          function validateItemModalForm() {
            $(".valider-item").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                 asyncUpdate: false

              });
            });
          }



                function createOPModalForm() {

            $(".create-ordre-payment").each(function () {
                $(this).modalForm({formURL: $(this).data("form-url")});

            });


          }

          validateItemModalForm();
          updateItemModalForm();
           createOPModalForm();


            function reinstantiateModalForms() {

            createItemSyncModalForm();
            deleteItemModalForm();
            updateItemModalForm();
            validateItemModalForm();
             createOPModalForm();
          }


           $('.datetimepicker').datetimepicker({format: 'MM/DD/YYYY HH:mm:ss'});
      });
  </script>



 {% endblock javascript %}
