{% load widget_tweaks %}
{% load static i18n thumbnail %}
{{ form.media }}




<form method="post" action=""  enctype="multipart/form-data">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

    {% for field in form %}

      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}<span class="danger">*</span>{% endif %}</label>


        {% if field|widget_type == "select" %}
<div class="input-group">
        {% render_field field   type="select" class="select2 form-control" %}

 </div>


              {% elif field|widget_type == "selectmultiple" %}
<div class="input-group">
        {% render_field field   type="select" class="select2 form-control multiple" %}

 </div>


        {% elif field|widget_type == "dateinput" %}

        <div class="input-group">
        {% render_field field   type="date" class="form-control singledate" placeholder=field.label %}
          <div class="input-group-append"><span class="input-group-text"><i
                                                          class="feather icon-calendar"></i></span>
        </div>
      </div>




        {% elif field|widget_type == "datetimeinput" %}
        <div class="input-group">
        {% render_field field   type="text" class="form-control datetimepicker" placeholder=field.label %}
          <div class="input-group-append"><span class="input-group-text"><i
                                                          class="feather icon-calendar"></i></span>
        </div>
      </div>


          {% elif field|widget_type == "daterangewidget" %}


           <div class="input-group">
        {% render_field field   type="date" class="form-control stackdaterangepicker" placeholder=field.label %}
          <div class="input-group-append"><span class="input-group-text"><i
                                                          class="feather icon-calendar"></i></span>
        </div>
      </div>


          {% elif field|widget_type == "linkeddatewidget" %}



           <div class="input-group">
        {% render_field field   type="date" class="form-control linkeddate" placeholder=field.label %}
          <div class="input-group-append"><span class="input-group-text"><i
                                                          class="feather icon-calendar"></i></span>
        </div>
      </div>



        {% elif field|widget_type == "regionalphonenumberwidget" %}

        {% render_field field   type="tel" class="form-control" placeholder=field.label %}


          <span id="valid-msg" class="hide">✓ Valid</span>
                  <span id="error-msg" class="hide"></span>

        {% else %}
        {% render_field field class="form-control" placeholder=field.label %}
        {% endif %}





        <div class="{% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="danger">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>


     <div class="col-12">

                                            {% if gerant.teaser_signature %}

                                            {% thumbnail gerant.teaser_signature 300x300 upscale as thumb %}
                                            <img src="{{ thumb.url }}"/>

                                            {% endif %}





                                </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Valider</button>
  </div>

</form>
{% block javascript %}
<script type="text/javascript">
      $(function () {

           $(".select2").select2({
            dropdownAutoWidth: true,
                width: '100%'
            });

      });
  </script>

{% endblock javascript %}
